@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 20, 22, 26;
        --background-end-rgb: 20, 22, 26;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: no-repeat linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
}

.user-table-items {
    height: calc(100vh - 349px);
}

.settings-table-items {
    height: calc(100vh - 417px);
}